In [1]:
import pandas as pd

In [11]:
classify = pd.read_csv('https://raw.githubusercontent.com/shubhadipbiswas/Classification_heroku/master/Booking_Classification.csv')

In [12]:
classify.head()

,Hotel_Type,Unnamed: 1,lead_time,Date_Year,Date_Month,Year_Week,Day_Of_Month,Weekend_Stay?,stays_in_week_nights,Count_Pax,...,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,Booking_Cancelled
0,Resort Hotel,NaN,342,2015,July,27,1,0,0,2,...,NaN,NaN,0,Transient,0.0,0,0,Check-Out,01-07-2015,0
1,Resort Hotel,NaN,737,2015,July,27,1,0,0,2,...,NaN,NaN,0,Transient,0.0,0,0,Check-Out,01-07-2015,0
2,Resort Hotel,NaN,7,2015,July,27,1,0,1,1,...,NaN,NaN,0,Transient,75.0,0,0,Check-Out,02-07-2015,0
3,Resort Hotel,NaN,13,2015,July,27,1,0,1,1,...,304.0,NaN,0,Transient,75.0,0,0,Check-Out,02-07-2015,0
4,Resort Hotel,NaN,14,2015,July,27,1,0,2,2,...,240.0,NaN,0,Transient,98.0,0,1,Check-Out,03-07-2015,0